<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Crea un post</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
    />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/vendor/animsition/css/animsition.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/vendor/select2/select2.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/vendor/daterangepicker/daterangepicker.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100 row-cols-4">
        <div class="wrap-login100 p-t-85 p-b-20 p-r-20 m-r-50 m-t-40">
          <h1 class="titoloCard">Titolo</h1>
          <br />
          <p class="testoCard">Testo del messaggio</p>
          <br /><br />
          <hr />
          <br />
          <h4 class="commentoCard">Commenti</h4>
          <br />
          <div class="commenti">
            <div class="commento">
              <h5 class="titoloCommento">Vabbè</h5>
              <br />
              <p class="testoCommento">Ciao sono Antonio</p>
              <br />
              <hr />
              <br />
            </div>
          </div>
          <button
            type="submit"
            class="login100-form-btn"
            id="button3"
            onclick="location.href = 'creaPost.html';"
          >
            Commenta
          </button>
        </div>
      </div>
    </div>

    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/select2/select2.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
  </body>
</html>
